## General parameters
SENDER_WALLET_ADDRESS=
SENDER_PK=

RECEIVER_WALLET_ADDRESS=

RPC_URL=
RPC_URL_SCROLL=
RPC_URL_LINEA=
RPC_URL_BASE=
RPC_URL_BLAST=

CHAIN_ID=

SPENDER_ADDRESS=

## Contract execution parameters
CONTRACT_ADDRESS=
CONTRACT_NAME=
AMOUNT=
METHOD_NAME=

## Signature parameters (only necessary when method_name is 'permit')
WALLET_SIGNER_ADDRESS=
WALLET_SIGNER_PK=
BACKEND_URL=